spring:
  application:
    name: habit-service
  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
server:
  port: 8081
